/* Affects Entire Sheet */

.sheet-relative {
    position: relative;
}

.sheet-absolute {
    position: absolute;
}

input, select, span, textarea, p {
    font-family: "Lucida Console"
}

input, select, textarea {
    border: 1px solid;
}

/* Affects Left Column */

.sheet-col1 {
    min-width: 400px;
    left: 1px;
    white-space: nowrap;
}

.sheet-name-wrapper, .sheet-attitude-wrapper {
    display:inline-block;
    vertical-align:top;
    margin-bottom: 10px;
}

.sheet-name, .sheet-attitude, .sheet-appearance, .sheet-space, .sheet-notes {
    left: 3px;
}

.sheet-attr-name, .sheet-attr-attitude {
    border: solid 1px;
}

.sheet-attr-name {
    width: 220px;
}

.sheet-attr-attitude {
    width: 168px;
}

.sheet-class-select-wrapper {
    min-height: 73px;
}

.sheet-archetype, .sheet-attr-variant {
    width: 192px;
}

.sheet-variant {
    display: none;
}

.sheet-skill-points {
    width: 391px;
    margin: 0px;
}

.sheet-archetype-switch[value="augmented"] ~ span.sheet-augmented,
.sheet-archetype-switch[value="civilian"] ~ span.sheet-civilian,
.sheet-archetype-switch[value="leader"] ~ span.sheet-leader,
.sheet-archetype-switch[value="muscle"] ~ span.sheet-muscle,
.sheet-archetype-switch[value="scientist"] ~ span.sheet-scientist,
.sheet-archetype-switch[value="specialist"] ~ span.sheet-specialist,
.sheet-archetype-switch[value="stowaway"] ~ span.sheet-stowaway,
.sheet-archetype-switch[value="technician"] ~ span.sheet-technician {
    display: inline;
}

.sheet-attr-appearance, .sheet-attr-space, .sheet-attr-notes {
    background: white;
    width: 381px;
    margin-bottom: 2px;
}

/* Affects Right Column */

.sheet-col2 {
    min-width: 460px;
    left: 410px;
}

.sheet-stats-wrapper {
    top: 5px;
    margin-bottom: 10px;
}

.sheet-stats-text {
    text-align: center;
}

.sheet-stats {
    width: 70px;
    font-size: 20px;
    text-align: center;
    border: solid 1px;
}

.sheet-head-text, .sheet-heart-text, .sheet-tech-text {
    top: 105px;
}

.sheet-head, .sheet-heart, .sheet-tech {
    top: 30px;
}

.sheet-hand-text, .sheet-group-text {
    top: -2px;
}

.sheet-hand, .sheet-group {
    top: 80px;
}

.sheet-head-text {
    color: blue;
    left: 5px;
}

.sheet-head {
    left: 20px;
}

.sheet-hand-text {
    color: green;
    left: 109px;
}

.sheet-hand {
    left: 105px;
}

.sheet-heart-text {
    color: red;
    left: 189px;
}

.sheet-heart {
    left: 190px;
}

.sheet-group-text {
    color: purple;
    left: 266px;
}

.sheet-group {
    left: 275px;
}

.sheet-tech-text {
    color: goldenrod;
    left: 360px;
}

.sheet-tech {
    left: 360px;
}

.sheet-intuition-section, .sheet-harm-stress-section {
    display: inline-block;
    padding: 3px;
    border: 1px solid;
    margin-bottom: 5px;
    width: 214px;
    vertical-align: top;
}

.sheet-intuition-section {
    height: 135px;
}

.sheet-harm-stress-section {
    height: 236px;
}

.sheet-intuition-buttons-wrapper, .sheet-harm-buttons-wrapper, .sheet-stress-buttons-wrapper {
    z-index: 1;
}

.sheet-intuition-display-wrapper {
    left: 38px;
}

.sheet-harm-display-wrapper, .sheet-stress-display-wrapper {
    left: 61.5px;
}

.sheet-buttons {
    vertical-align: text-top;
    margin: 0px;
    padding: 4.5px;
    opacity: 0;
}

input.sheet-display, input.sheet-xp-display {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    vertical-align: text-top;
    padding: 5.5px;
    height: 3px;
    width: 3px;
    margin: 0px;
    cursor: pointer;
    background-color: white;
}

input.sheet-display:checked {
    background-color: red;
}

input.sheet-xp-display:checked {
    background-color: lightgreen;
}

.sheet-advancement-wrapper {
    right: 2px;
    top: 3px;
    width: 210px;
    padding-left: 2px;
    border-bottom: solid 1px;
    border-left: solid 1px;
}

.sheet-xp-buttons-wrapper, .sheet-xp-display-wrapper {
    top: 1px;
    right: 100px;
}

.sheet-xp-buttons-wrapper {
    z-index: 1;
}

.sheet-level-wrapper {
    right: 0px;
    top: 0px;
    width: 90px;
    border-left: solid 1px;
    padding-left: 5px;
}

.sheet-attr-level {
    font-size: 20px;
    top: -4px;
    right: 0px;
}

.sheet-scars-wrapper {
    top: 302px;
}

.sheet-scars {
    left: 3px;
}

.sheet-attr-scars {
    width: 212px;
    height: 69px;
}

.sheet-moves-wrapper {
    width: 439px;
    border: solid 1px;
    padding: 3px;
}

.sheet-move-title {
    font-weight: bold;
}

.sheet-moveset {
    display: none;
}

/* Augment and Variant Moves */
.sheet-moveset-switch[value="augmentedBase"] ~ .sheet-augmented-moveset,
.sheet-moveset-switch[value="almostHuman"] ~ .sheet-almost-human-moveset,
.sheet-moveset-switch[value="construct"] ~ .sheet-construct-moveset,
.sheet-moveset-switch[value="cyborg"] ~ .sheet-cyborg-moveset,
.sheet-moveset-switch[value="civilianBase"] ~ .sheet-civilian-moveset,
.sheet-moveset-switch[value="entertainer"] ~ .sheet-entertainer-moveset,
.sheet-moveset-switch[value="homesteader"] ~ .sheet-homesteader-moveset,
.sheet-moveset-switch[value="merchant"] ~ .sheet-merchant-moveset,
.sheet-moveset-switch[value="leaderBase"] ~ .sheet-leader-moveset,
.sheet-moveset-switch[value="commander"] ~ .sheet-commander-moveset,
.sheet-moveset-switch[value="diplomat"] ~ .sheet-diplomat-moveset,
.sheet-moveset-switch[value="shepherd"] ~ .sheet-shepherd-moveset,
.sheet-moveset-switch[value="muscleBase"] ~ .sheet-muscle-moveset,
.sheet-moveset-switch[value="exMarine"] ~ .sheet-ex-marine-moveset,
.sheet-moveset-switch[value="miner"] ~ .sheet-miner-moveset,
.sheet-moveset-switch[value="security"] ~ .sheet-security-moveset,
.sheet-moveset-switch[value="scientistBase"] ~ .sheet-scientist-moveset,
.sheet-moveset-switch[value="biologist"] ~ .sheet-biologist-moveset,
.sheet-moveset-switch[value="chemist"] ~ .sheet-chemist-moveset,
.sheet-moveset-switch[value="medic"] ~ .sheet-medic-moveset,
.sheet-moveset-switch[value="specialistBase"] ~ .sheet-specialist-moveset,
.sheet-moveset-switch[value="academic"] ~ .sheet-academic-moveset,
.sheet-moveset-switch[value="pilot"] ~ .sheet-pilot-moveset,
.sheet-moveset-switch[value="weaponsExpert"] ~ .sheet-weapons-expert-moveset,
.sheet-moveset-switch[value="stowawayBase"] ~ .sheet-stowaway-moveset,
.sheet-moveset-switch[value="criminal"] ~ .sheet-criminal-moveset,
.sheet-moveset-switch[value="kid"] ~ .sheet-kid-moveset,
.sheet-moveset-switch[value="survivor"] ~ .sheet-survivor-moveset,
.sheet-moveset-switch[value="technicianBase"] ~ .sheet-technician-moveset,
.sheet-moveset-switch[value="engineer"] ~ .sheet-engineer-moveset,
.sheet-moveset-switch[value="hacker"] ~ .sheet-hacker-moveset,
.sheet-moveset-switch[value="mechanic"] ~ .sheet-mechanic-moveset {
    display: inline;
}

input.sheet-move1:not(:checked) ~ span.sheet-move1 {
    display: none;
}

input.sheet-move2:not(:checked) ~ span.sheet-move2 {
    display: none;
}

input.sheet-move3:not(:checked) ~ span.sheet-move3 {
    display: none;
}

input.sheet-move4:not(:checked) ~ span.sheet-move4 {
    display: none;
}