/* Affects Entire Sheet */

span, textarea, p {
    font-family: "Lucida Console"
}

input, select, textarea {
    border: 1px solid;
}

/* Affects Left Column */

div.sheet-col1 {
    position: absolute;
    min-width: 400px;
    left: 1px;
    white-space: nowrap;
}

div.sheet-name, div.sheet-attitude {
    position: relative;
    display:inline-block;
    vertical-align:top;
    margin-bottom: 10px;
}

img.sheet-name, img.sheet-attitude {
    position: relative;
    left: 3px;
}

input.sheet-character-name {
    width: 220px;
}

input.sheet-attitude {
    width: 168px;
}

div.sheet-class-select {
    position: relative;
    min-height: 80px;
}

select.sheet-archetype, select.sheet-variant {
    width: 192px;
}

span.sheet-variant {
    display: none;
}

select.sheet-skill-points {
    width: 391px;
}

input.sheet-archetype-switch[value="augmented"] ~ span.sheet-augmented {
    display: inline;
}

input.sheet-archetype-switch[value="civilian"] ~ span.sheet-civilian {
    display: inline;
}

input.sheet-archetype-switch[value="leader"] ~ span.sheet-leader {
    display: inline;
}

input.sheet-archetype-switch[value="muscle"] ~ span.sheet-muscle {
    display: inline;
}

input.sheet-archetype-switch[value="scientist"] ~ span.sheet-scientist {
    display: inline;
}

input.sheet-archetype-switch[value="specialist"] ~ span.sheet-specialist {
    display: inline;
}

input.sheet-archetype-switch[value="stowaway"] ~ span.sheet-stowaway {
    display: inline;
}

input.sheet-archetype-switch[value="technician"] ~ span.sheet-technician {
    display: inline;
}

div.sheet-appearance, div.sheet-space, div.sheet-notes {
    position: relative;
}

img.sheet-appearance, img.sheet-space, div.sheet-notes {
    position: relative;
    left: 3px;
}

textarea.sheet-attr-appearance, textarea.sheet-attr-space, textarea.sheet-attr-notes {
    background: white;
    width: 381px;
}

/* Affects Right Column */

div.sheet-col2 {
    position: absolute;
    min-width: 460px;
    left: 410px;
}

div.sheet-stats {
    position: relative;
    top: 5px;
}

input.sheet-stats {
    position: absolute;
    width: 70px;
    font-size: 20px;
    text-align: center;
}

input.sheet-head, input.sheet-heart, input.sheet-tech {
    top: 30px;
}

input.sheet-hand, input.sheet-group {
    top: 80px;
}

input.sheet-head {
    left: 20px;
}

input.sheet-hand {
    left: 105px;
}

input.sheet-heart {
    left: 190px;
}

input.sheet-group {
    left: 275px;
}

input.sheet-tech {
    left: 360px;
}

span.sheet-stats-text {
    position: absolute;
    text-align: center;
}

span.sheet-head-text, span.sheet-heart-text, span.sheet-tech-text {
    top: 105px;
}

span.sheet-hand-text, span.sheet-group-text {
    top: -2px;
}

span.sheet-head-text {
    color: blue;
    left: 5px;
}

span.sheet-hand-text {
    color: green;
    left: 109px;
}

span.sheet-heart-text {
    color: red;
    left: 189px;
}

span.sheet-group-text {
    color: purple;
    left: 266px;
}

span.sheet-tech-text {
    color: goldenrod;
    left: 360px;
}

div.sheet-intuition, div.sheet-moves, div.sheet-harm-stress {
    position: relative;
    display: inline-block;
    padding: 3px;
    border: 1px solid;
    margin-bottom: 5px;
    width: 214px;
    vertical-align: top;
}

div.sheet-intuition-tracker, div.sheet-harm-tracker, div.sheet-stress-tracker {
    white-space: nowrap;
}

button.sheet-status-tracker {
    position: relative;
    vertical-align: text-top;
    margin: 0px;
    padding: 4.5px;
    z-index: 1;
    opacity: 0;
}

span.sheet-tracker-end-text {
    position: relative;
    margin: 0px;
}

input.sheet-intuition-display, input.sheet-harm-display, span.sheet-dying, span.sheet-done-for {
    left: -116.4px;
}

input.sheet-stress-display, span.sheet-exhausted {
    left: -83px;
}

input.sheet-intuition-display, input.sheet-harm-display, input.sheet-stress-display {
    position: relative;
    vertical-align: text-top;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 5.5px;
    height: 3px;
    width: 3px;
    margin: 0px;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    background-color: white;
}

input.sheet-intuition-display:checked, input.sheet-harm-display:checked, input.sheet-stress-display:checked {
    background-color: red;
}

div.sheet-scars {
    position: absolute;
    top: 310px;
}

img.sheet-scars {
    position: relative;
    left: 3px;
}

textarea.sheet-attr-scars {
    width: 212px;
    height: 69px;
}

div.sheet-moves {
    width: 439px;
}

div.sheet-moveset {
    display: none;
}

div.sheet-xp {
    position: absolute;
    right: 5px;
}

/* Augment and Variant Moves */
input.sheet-moveset-switch[value="augmentedBase"] ~ div.sheet-augmented-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="almostHuman"] ~ div.sheet-almost-human-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="construct"] ~ div.sheet-construct-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="cyborg"] ~ div.sheet-cyborg-moveset {
    display: inline;
}

/* Civilian and Variant Moves */
input.sheet-moveset-switch[value="civilianBase"] ~ div.sheet-civilian-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="entertainer"] ~ div.sheet-entertainer-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="homesteader"] ~ div.sheet-homesteader-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="merchant"] ~ div.sheet-merchant-moveset {
    display: inline;
}

/* Leader and Variant Moves */
input.sheet-moveset-switch[value="leaderBase"] ~ div.sheet-leader-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="commander"] ~ div.sheet-commander-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="diplomat"] ~ div.sheet-diplomat-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="shepherd"] ~ div.sheet-shepherd-moveset {
    display: inline;
}

/* Muscle and Variant Moves */
input.sheet-moveset-switch[value="muscleBase"] ~ div.sheet-muscle-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="exMarine"] ~ div.sheet-ex-marine-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="miner"] ~ div.sheet-miner-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="security"] ~ div.sheet-security-moveset {
    display: inline;
}

/* Scientist and Variant Moves */
input.sheet-moveset-switch[value="scientistBase"] ~ div.sheet-scientist-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="biologist"] ~ div.sheet-biologist-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="chemist"] ~ div.sheet-chemist-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="medic"] ~ div.sheet-medic-moveset {
    display: inline;
}

/* Specialist and Variant Moves */
input.sheet-moveset-switch[value="specialistBase"] ~ div.sheet-specialist-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="academic"] ~ div.sheet-academic-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="pilot"] ~ div.sheet-pilot-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="weaponsExpert"] ~ div.sheet-weapons-expert-moveset {
    display: inline;
}

/* Stowaway and Variant Moves */
input.sheet-moveset-switch[value="stowawayBase"] ~ div.sheet-stowaway-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="criminal"] ~ div.sheet-criminal-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="kid"] ~ div.sheet-kid-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="survivor"] ~ div.sheet-survivor-moveset {
    display: inline;
}

/* Technician and Variant Moves */
input.sheet-moveset-switch[value="technicianBase"] ~ div.sheet-technician-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="engineer"] ~ div.sheet-engineer-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="hacker"] ~ div.sheet-hacker-moveset {
    display: inline;
}

input.sheet-moveset-switch[value="mechanic"] ~ div.sheet-mechanic-moveset {
    display: inline;
}

input.sheet-move:not(:checked) + span {
    color: grey;
}